### Package Files
*.jar


### IntelliJ files
.idea
*.iml

### Gradle
.gradle
/gradlew
/gradlew.bat

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
!/gradle/wrapper/gradle-wrapper.properties
